<%= javascript_include_tag :all %>
<%= periodically_call_remote(:url => {:action => :chart, :id => 0}, :frequency => 5)%>
<%= periodically_call_remote(:url => {:action => :chart, :id => 1}, :frequency => 5)%>
<%= periodically_call_remote(:url => {:action => :chart, :id => 2}, :frequency => 5)%>
<h1>Metrics</h1>
<p>Here, we present measurements of our progress, in the form of charts. Enjoy.</p>
<div id = 'charts'>
<%= render :partial => 'charts' %>
</div>
